<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stories</title>
    <script src="./index.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script id="story_card_tpl" type="text/template">
      <div class="story_card">
          <h1 class="story_card__title"><%= title %></h1>
          <p class="story_card__description">
            <%= short_description %>
          </p>
          <ul class="story_card__coords">
              <li>Широта: <%= lat %></li>
              <li>Долгота: <%= lng %></li>
          </ul>
      </div>
    </script>
  </body>
</html>
